.u-Name, .u-Name2 {

    color: green
}

.u-sm-utilityName {

    color: blue
}

.ComponentName {

    color: cyan
}

.ComponentName.is-stateName {

    color: crimson
}

.ComponentName--modifierName {

    color: yellow
}

.ComponentName-descendentName {

    color: navy
}

.nmsp-ComponentName {

    color: red
}
