a {
  width: 20px;
  height: 10px;
}

b {
  width: calc(4 * 2px);
  height: 2px;
}

c {
  width: fit-content;
  height: auto;
}

d {
  width: 32px;
  height: 32px;
}

e {
  width: 4in;
  height: 3in;
}

f {
  width: 4in;
  height: 3in;
}

g {
  width: 1920px;
  height: 1080px;
}
