a {
  position: absolute;
}

b {
  top: 1em;
  right: 1em;
  bottom: 1em;
  left: 1em;
  position: absolute;
}

c {
  top: 1em;
  right: 2em;
  bottom: 1em;
  left: 2em;
  position: absolute;
}

d {
  top: 1em;
  right: 2em;
  bottom: 3em;
  left: 2em;
  position: absolute;
}

e {
  top: 1em;
  right: 2em;
  bottom: 3em;
  left: 4em;
  position: absolute;
}
