.grid-row-fluid {
	@neat-outer-container;
}
.grid-row-table {
  @neat-row table;
}
.grid-col-1 {
  @neat-span-columns 1;
}
.grid-col-2 {
  @neat-span-columns 2;
}
.grid-col-3 {
  @neat-span-columns 3;
}
.grid-col-4 {
  @neat-span-columns 4;
}
.grid-col-5 {
  @neat-span-columns 5;
}
.grid-col-6 {
  @neat-span-columns 6;
}
.grid-col-6-table {
  @neat-span-columns 6 12 table;
}
.grid-col-7 {
  @neat-span-columns 7;
}
.grid-col-8 {
  @neat-span-columns 8;
}
.grid-col-9 {
  @neat-span-columns 9;
}
.grid-col-10 {
  @neat-span-columns 10;
}
.grid-col-11 {
  @neat-span-columns 11;
}
.grid-col-omega {
  @neat-omega;
}
.grid-col-media-4 {
  @media (max-width: 800px) {
    @neat-span-columns 4;
  }
}
.grid-col-media-8 {
  @media (max-width: 800px) {
    @neat-span-columns 8;
  }
}