.grid-row-fluid{
	max-width: 64em;
	margin-left: auto;
	margin-right: auto;
	*zoom: 1;
}
.grid-row-fluid:before, .grid-row-fluid:after{
	content: " ";
	display: table;
}
.grid-row-fluid:after{
	clear: both;
}
.grid-row-table{
  display: table;
  table-layout: fixed;
  box-sizing: border-box;
  width: 100%;
}
.grid-col-1{
  display: block;
  float: left;
  margin-right: 2.35765160%;
  width: 6.17215270%;
}
.grid-col-1:last-child{
	margin-right: 0;
}
.grid-col-2{
  display: block;
  float: left;
  margin-right: 2.35765160%;
  width: 14.70195700%;
}
.grid-col-2:last-child{
	margin-right: 0;
}
.grid-col-3{
  display: block;
  float: left;
  margin-right: 2.35765160%;
  width: 23.23176130%;
}
.grid-col-3:last-child{
	margin-right: 0;
}
.grid-col-4{
  display: block;
  float: left;
  margin-right: 2.35765160%;
  width: 31.76156560%;
}
.grid-col-4:last-child{
	margin-right: 0;
}
.grid-col-5{
  display: block;
  float: left;
  margin-right: 2.35765160%;
  width: 40.29136990%;
}
.grid-col-5:last-child{
	margin-right: 0;
}
.grid-col-6{
  display: block;
  float: left;
  margin-right: 2.35765160%;
  width: 48.82117420%;
}
.grid-col-6:last-child{
	margin-right: 0;
}
.grid-col-6-table{
  display: table-cell;
  width: 50.00000000%;
}
.grid-col-7{
  display: block;
  float: left;
  margin-right: 2.35765160%;
  width: 57.35097850%;
}
.grid-col-7:last-child{
	margin-right: 0;
}
.grid-col-8{
  display: block;
  float: left;
  margin-right: 2.35765160%;
  width: 65.88078280%;
}
.grid-col-8:last-child{
	margin-right: 0;
}
.grid-col-9{
  display: block;
  float: left;
  margin-right: 2.35765160%;
  width: 74.41058710%;
}
.grid-col-9:last-child{
	margin-right: 0;
}
.grid-col-10{
  display: block;
  float: left;
  margin-right: 2.35765160%;
  width: 82.94039140%;
}
.grid-col-10:last-child{
	margin-right: 0;
}
.grid-col-11{
  display: block;
  float: left;
  margin-right: 2.35765160%;
  width: 91.47019570%;
}
.grid-col-11:last-child{
	margin-right: 0;
}
.grid-col-omega{
  margin-right: 0;
}
.grid-col-media-4{
}
@media (max-width: 800px){
	.grid-col-media-4{
		display: block;
		float: left;
		margin-right: 2.35765160%;
		width: 31.76156560%;
	}
	.grid-col-media-4:last-child{
		margin-right: 0;
	}
  }
.grid-col-media-8{
}
@media (max-width: 800px){
	.grid-col-media-8{
		display: block;
		float: left;
		margin-right: 2.35765160%;
		width: 65.88078280%;
	}
	.grid-col-media-8:last-child{
		margin-right: 0;
	}
  }