<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/css/docs.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/highlight.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  </head>
  <body>
    <div class="main-wrapper">
      <aside class="docs-navbar">
        <ul class="nav">
          <li class="nav-item"><a href="">Overview</a></li>
          <li class="nav-item expanded active">
            <a href="">Reset and Normalize</a>
            <ul class="subnav">
              <li class="nav-item active"><a href="">reset-global</a></li>
              <li class="nav-item"><a href="">reset-nested</a></li>
            </ul>
          </li>
          <li class="nav-item"><a href="">Latest CSS Syntax</a></li>
          <li class="nav-item"><a href="">Short Property</a></li>
          <li class="nav-item"><a href="">Grid</a></li>
          <li class="nav-item"><a href="">Basic Shape</a></li>
          <li class="nav-item"><a href="">Utils</a></li>
          <li class="nav-item"><a href="">Inline Svg</a></li>
          <li class="nav-item"><a href="">Rem to Pixel</a></li>
          <li class="nav-item"><a href="">Sass Syntax</a></li>
        </ul>
      </aside>
      <main>
        <header>
          
        </header>
        <section>
          {{ content }}
        </section>
      </main>
    </div>
    <footer>
      <p>This project is maintained by <a href="https://github.com/ElemeFE">ElemeFE</a></p>
      <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
    </footer>
  </body>
</html>