<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/css/docs.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/highlight.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="main-wrapper" id="main-wrapper">
      <aside class="docs-navbar">
        <div class="aside-top">Salad<img class="salad-logo" src="{{ "/svg/logo.svg" | prepend: site.baseurl }}" alt=""></div>
        <ul class="nav">
          <li class="nav-item {% if page.title == "Overview" %} active {% endif %}"><a href="{{ '/index.html' | prepend: site.baseurl }}">Overview</a></li>
          <li class="nav-item {% if page.title == "Reset and Normalize" %} active {% endif %}">
            <a href="{{ '/reset.html' | prepend: site.baseurl}}">Reset and Normalize</a>
            <!--<ul class="subnav">
              <li class="nav-item active"><a href="/reset.html#reset-global">reset-global</a></li>
              <li class="nav-item"><a href="/reset.html#reset-nested">reset-nested</a></li>
            </ul>-->
          </li>
          <li class="nav-item {% if page.title == "Lasted CSS Syntax" %} active {% endif %}">
            <a href="{{ '/lasted-syntax.html' | prepend: site.baseurl}}">Lasted CSS Syntax</a>
          </li>
          <li class="nav-item {% if page.title == "Short Property" %} active {% endif %}"><a href="{{ '/short-property.html' | prepend: site.baseurl}}">Short Property</a></li>
          <li class="nav-item {% if page.title == "Grid" %} active {% endif %}"><a href="{{ '/grid.html' | prepend: site.baseurl}}">Grid</a></li>
          <li class="nav-item {% if page.title == "Basic Shape" %} active {% endif %}"><a href="{{ '/basic-shape.html' | prepend: site.baseurl}}">Basic Shape</a></li>
          <li class="nav-item {% if page.title == "Utils" %} active {% endif %}"><a href="{{ '/utils.html' | prepend: site.baseurl}}">Utils</a></li>
          <li class="nav-item {% if page.title == "Inline Svg" %} active {% endif %}"><a href="{{ '/inline-svg.html' | prepend: site.baseurl}}">Inline Svg</a></li>
          <li class="nav-item {% if page.title == "Rem to Pixel" %} active {% endif %}"><a href="{{ '/Rem-to-Pixel.html' | prepend: site.baseurl}}">Rem to Pixel</a></li>
          <li class="nav-item {% if page.title == "Sass Syntax" %} active {% endif %}"><a href="{{ '/sass-syntax.html' | prepend: site.baseurl}}">Sass Syntax</a></li>
        </ul>
      </aside>
      <main>
        <header>
          <button class="navbar-toggle" ontouchend="docs.toggleNavbar()" id="navbar-toggle">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </header>
        <section>
          {{ content }}
        </section>
      </main>
    </div>
    <!--<footer>
      <p>This project is maintained by <a href="https://github.com/ElemeFE">ElemeFE</a></p>
      <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
    </footer>-->
  </body>
  <script>
    (function(w){
      w.docs = {
        toggleNavbar: function() {
          var navbar = document.getElementById('main-wrapper');
          var navbarToggle = document.getElementById('navbar-toggle');
          
          navbar.classList.toggle('slide-in-left');
          navbarToggle.classList.toggle('btn-pressed');
        }
      };
    })(window);
  </script>
</html>